---
// Footer.astro - 사이트 하단 푸터 컴포넌트

import { Icon } from '@iconify/react'
---

<footer class="bg-gray-800 text-white px-6 py-4 mt-20">
  <div class="max-w-7xl mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-10">
      <div class="col-span-1">
        <h2 class="text-2xl font-bold mb-2">TTSG</h2>
        <p class="text-gray-300">IT 지식 공유 플랫폼</p>
      </div>

      <div class="col-span-1">
        <h3 class="font-semibold text-lg mb-3">Navigation</h3>
        <ul class="space-y-2 text-gray-300">
          <li><a href="/" class="hover:text-white transition-colors">Home</a></li>
          <li><a href="/blog" class="hover:text-white transition-colors">Blog</a></li>
          <li><a href="/wiki" class="hover:text-white transition-colors">Wiki</a></li>
          <li><a href="/apps" class="hover:text-white transition-colors">Demo Apps</a></li>
        </ul>
      </div>

      <div class="col-span-1">
        <h3 class="font-semibold text-lg mb-3">Link</h3>
        <ul class="space-y-2 text-gray-300">
          <li>
            <a
              href="mailto:contact@ttsg.space"
              class="hover:text-white transition-colors flex items-center"
            >
              <Icon client:load icon="mdi:email-outline" className="size-6 mr-2" />
               Contact
            </a>
          </li>
          <li>
            <a
              href="https://discord.com/channels/1407524061051097178"
              target="_blank"
              rel="noopener"
              class="hover:text-white transition-colors flex items-center"
            >
              <Icon client:load icon="ic:baseline-discord" className="size-6 mr-2" />
               Discord
            </a>
          </li>
          <li>
            <a
              href="https://github.com/freeislet/ttsg-web"
              target="_blank"
              rel="noopener"
              class="hover:text-white transition-colors flex items-center"
            >
              <Icon client:load icon="mdi:github" className="size-6 mr-2" />
               GitHub
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="border-t border-gray-700 mt-4 pt-4 text-center sm:text-left">
      <p class="text-gray-400 text-sm">&copy; 2025 TTSG Project. All rights reserved.</p>
    </div>
  </div>
</footer>
