---
// Footer.astro - 사이트 하단 푸터 컴포넌트
---

<footer class="bg-gray-800 text-white py-4 mt-20">
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-10">
      <div class="col-span-1">
        <h2 class="text-2xl font-bold mb-2">TTSG</h2>
        <p class="text-gray-300">IT 지식 공유 플랫폼</p>
      </div>
    </div>

    <!-- <div class="border-t border-gray-700 mt-10 pt-6 text-center sm:text-left">
      <p class="text-gray-400 text-sm">&copy; 2025 TTSG 프로젝트. 모든 권리 보유.</p>
    </div> -->
  </div>
</footer>
