---
// wiki.astro - 노션 위키 링크와 최근 문서 목록을 보여주는 페이지
import Layout from '@/layouts/Layout.astro'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import WikiComponent from '@/components/wiki/Wiki'
---

<Layout>
  <Header />
  <main class="max-w-5xl mx-auto px-4 py-8">
    <WikiComponent client:load />
  </main>
  <Footer />
</Layout>
